.markForm {
    min-width: 70dvw;
}
.markFormWrapper {
  display: flex;
  gap: 10px;
  border-radius: var(--radius);
  justify-content: space-between;
}
.mapWrapper {
  height: 100%;
  width: 70%;
  border-radius: var(--radius);
}
.mapContainer {
  width: 100%;
  height: 100%;
  min-width: 40dvw;
  min-height: 100dvh;
}
.markColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  min-height: 100dvh;
}