.container {
  background-color: var(--card-bg);
  color: var(--card-foreground);
  display: flex;
  align-items: center;
  gap: 6px;
  height: 95dvh;
  min-height: 95dvh;
  flex-direction: column;
  width: 100%;
  border-radius: var(--radius);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 1%;
}