
.clearMarksButton {
  width: 100%;
  display: flex;
  justify-content: center;align-items: center;
  padding: 5px 5px 10px 5px;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background: var(--background);
  color: var(--foreground);
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  &:hover {
    outline: none;
    border-color: var(---foreground);
    box-shadow: 0 0 0 3px rgba(var(--primary-rgb), 0.1);
  }
}